* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    background-image: url(https://wallpaperaccess.com/full/1871998.jpg);
    background-size: cover;
}

header {
    padding: 10px;
    margin: 5% 0 0;
    text-align: center;
}

nav {
    margin: 3% 0;
    background-color: rgb(1, 60, 116);
    border-bottom: 5px solid rgb(77, 166, 218);
}

nav ul li {
    display: inline-block;
    padding: 10px;
    margin-left: 5%;
    color: rgb(77, 166, 218);
}

main {
    background-color: aliceblue;
    align-items: center;
    padding: 2%;
    margin: 1% 3%;
}

