.super-mario {
    width: 200px;
    position: absolute;
    z-index: 1;
    left: 20px;
  }
  
  .goomba {
    width: 100px;
    position: absolute;
    z-index: 2;
    top: 375px;
    left: 70px;
  }
  
  .baloon {
    position: absolute;
    z-index: 4;
    left: 300px;
  }
  
  .speech {
    font-size: 25px;
    position: absolute;
    z-index: 5;
    top: 120px;
    left: 320px;
  }
  
  .bowser {
    width: 200px;
    position: absolute;
    z-index: 3;
    top: 200px;
    left: 600px;   
  }